html {
	background              : transparent url(http://i.imgur.com/XQ0kMeD.jpg) no-repeat center center fixed;
	/*background              : transparent url(IMG_0485.JPG) no-repeat center center fixed;*/
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
	}

body {

	font-family: 'Arvo', 'Arial',serif;
	font-size:1.5em;

	}

.wrapper {
	position                : absolute;
	top                     : 0;
	right                   : 0;
	bottom                  : 0;
	left                    : 0;
	background-color        : rgba(0,0,0,0.9);

	}

.content {

	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 800px;
	height: 425px;
	margin: auto;
	background-color: black;
	border: 1px white solid;
	color: white;
	}

.content > p {text-align: center;
	margin: 20px 0;
	text-transform: uppercase;
	word-spacing: 0.5em;}

#swatchContainer {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background: black;
	border: 2px #333 dotted;
	}

#swatch {
	width: 500px;
	height: 300px;
	margin: 0 auto;
	}

#inputtest {
	background-color: black;
	color: white;
	font-family: 'Arvo', 'Arial', serif;
	font-size:1.5em;
	text-transform: uppercase;
	border: 1px dotted grey;
	}

.colorPickerTile {

	width : 150px;
	height: 70px;

	}

.colorPickerTile > .colorPickerTileSwatch {

	height: 60px;
	width: 60px;
	background-color: yellow;

	}

.modal {

	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 700px;
	height: 600px;
	margin: auto;
	background-color: black;
	border: 1px white solid;
	color: white;
	}

.click {cursor: pointer;}
